@model RepositoryPatternUnitoWorkCruds.Models.ViewModel.MovieVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<form class="mt-2" asp-action="Create" method="post">

    <div class="mt-2 row">
        <div class="form-group col-6">
            <label asp-for="Movie.Title"></label>
            <input asp-for="Movie.Title" class="form-control" />
            <span class="text-danger" asp-validation-for="Movie.Title"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Movie.Language"></label>
            <input asp-for="Movie.Language" class="form-control" />
            <span class="text-danger" asp-validation-for="Movie.Language"></span>
        </div>
    </div>

    <div class="mt-2 row">
        <div class="form-group col-6">
            <label asp-for="Movie.Rating"></label>
            <input asp-for="Movie.Rating" class="form-control" />
            <span class="text-danger" asp-validation-for="Movie.Rating"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Movie.ReleaseDate"></label>
            <input asp-for="Movie.ReleaseDate" class="form-control" />
            <span class="text-danger" asp-validation-for="Movie.ReleaseDate"></span>
        </div>
    </div>


    <div class="mt-2 row">
        <div class="col-6 form-group">
            <label asp-for="Movie.DirectorId"></label>
            @Html.DropDownListFor(m => m.Movie.DirectorId, Model.ListaDirector,
             "-Por favor seleccione un director-", new { @class = "form-control" })
        </div>
        <div class="col-6 form-group">
            <label asp-for="Movie.GeneroId"></label>
            @Html.DropDownListFor(m => m.Movie.DirectorId, Model.ListaGenero,
             "-Por favor seleccione un genero-", new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <a asp-action="Index" class="btn btn-success mx-2" style="width:40%">Volver atras</a>
            <button class="btn btn-info mx-2" style="width:40%" type="submit">Agregar</button>
        </div>
    </div>
</form>

