@model IEnumerable<Director> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success float-right w-25 mb-2" asp-action="Create">Agregar Director</a>
@if (Model.Count() > 0)
{


    <h1 class="mt-4">Peliculas listadas</h1>
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var director in Model)
            {
                <tr>
                    <td>@director.FirstName</td>
                    <td>@director.LastName</td>
                    <td>
                        <a asp-route-id="@director.Id" asp-action="Edit" class="btn btn-warning">Editar</a>
                        <a asp-route-id="@director.Id" asp-action="Delete" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1 class="text-danger mt-4">No hay directores listados</h1>
}

