@model IEnumerable<Genero>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>
<a class="btn btn-success float-right w-75" asp-action="Create">Crear Movie</a>
@if (Model.Count() > 0)
{


    <h1>Generos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del genero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genero in Model)
            {
                <tr>
                    <td>@genero.Name</td>
                    <td>
                        <a asp-route-id="@genero.Id" asp-action="Edit" class="btn btn-warning">Editar</a>
                        <a asp-route-id="@genero.Id" asp-action="Delete" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1 class="text-danger">No hay genero agregadas</h1>
}

